USE [testDb]
GO
/****** Object:  Table [dbo].[AgeingBuckets]    Script Date: 13-08-2025 10:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgeingBuckets](
	[AgeingBucketId] [int] IDENTITY(1,1) NOT NULL,
	[BucketName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AgeingBucketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 13-08-2025 10:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payers]    Script Date: 13-08-2025 10:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payers](
	[PayerId] [int] IDENTITY(1,1) NOT NULL,
	[PayerName] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priorities]    Script Date: 13-08-2025 10:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priorities](
	[PriorityId] [int] IDENTITY(1,1) NOT NULL,
	[PriorityName] [nvarchar](100) NOT NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrioritySetup]    Script Date: 13-08-2025 10:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrioritySetup](
	[PrioritySetupId] [int] IDENTITY(1,1) NOT NULL,
	[PayerId] [int] NOT NULL,
	[AgeingBucketId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[PriorityId] [int] NOT NULL,
	[PayerName] [nvarchar](200) NULL,
	[BucketName] [nvarchar](200) NULL,
	[LocationName] [nvarchar](200) NULL,
	[PriorityName] [nvarchar](200) NULL,
	[TotalBalance] [decimal](18, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PrioritySetupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AgeingBuckets] ON 

INSERT [dbo].[AgeingBuckets] ([AgeingBucketId], [BucketName], [IsActive]) VALUES (1, N'0-30 days', 1)
INSERT [dbo].[AgeingBuckets] ([AgeingBucketId], [BucketName], [IsActive]) VALUES (2, N'31-60 days', 1)
INSERT [dbo].[AgeingBuckets] ([AgeingBucketId], [BucketName], [IsActive]) VALUES (3, N'61-90 days', 1)
SET IDENTITY_INSERT [dbo].[AgeingBuckets] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([LocationId], [LocationName], [IsActive]) VALUES (1, N'USA Office', 1)
INSERT [dbo].[Locations] ([LocationId], [LocationName], [IsActive]) VALUES (2, N'Austion Office', 1)
INSERT [dbo].[Locations] ([LocationId], [LocationName], [IsActive]) VALUES (3, N'Texas Office', 1)
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[Payers] ON 

INSERT [dbo].[Payers] ([PayerId], [PayerName], [IsActive]) VALUES (1, N'Aetna commercial HMO', 1)
INSERT [dbo].[Payers] ([PayerId], [PayerName], [IsActive]) VALUES (2, N'Aetna commercial HMO', 1)
INSERT [dbo].[Payers] ([PayerId], [PayerName], [IsActive]) VALUES (3, N'Dallas commercial PTO', 1)
SET IDENTITY_INSERT [dbo].[Payers] OFF
GO
SET IDENTITY_INSERT [dbo].[Priorities] ON 

INSERT [dbo].[Priorities] ([PriorityId], [PriorityName], [SortOrder], [IsActive]) VALUES (1, N'priority 1', 1, 1)
INSERT [dbo].[Priorities] ([PriorityId], [PriorityName], [SortOrder], [IsActive]) VALUES (2, N'priority 2', 1, 1)
INSERT [dbo].[Priorities] ([PriorityId], [PriorityName], [SortOrder], [IsActive]) VALUES (3, N'priority 3', 2, 1)
SET IDENTITY_INSERT [dbo].[Priorities] OFF
GO
SET IDENTITY_INSERT [dbo].[PrioritySetup] ON 

INSERT [dbo].[PrioritySetup] ([PrioritySetupId], [PayerId], [AgeingBucketId], [LocationId], [PriorityId], [PayerName], [BucketName], [LocationName], [PriorityName], [TotalBalance], [IsActive], [CreatedAt]) VALUES (1, 1, 1, 1, 1, N'Aetna commercial HMO', N'0-30days', N'USA Office', N'priority 1', CAST(32.00 AS Decimal(18, 2)), 1, CAST(N'2025-08-12T16:11:34.4122346' AS DateTime2))
INSERT [dbo].[PrioritySetup] ([PrioritySetupId], [PayerId], [AgeingBucketId], [LocationId], [PriorityId], [PayerName], [BucketName], [LocationName], [PriorityName], [TotalBalance], [IsActive], [CreatedAt]) VALUES (7, 1, 1, 1, 1, N'Aetna commercial HMO', N'0-30 days', N'USA Office', N'priority 1', CAST(24.00 AS Decimal(18, 2)), 1, CAST(N'2025-08-13T04:31:41.5564398' AS DateTime2))
INSERT [dbo].[PrioritySetup] ([PrioritySetupId], [PayerId], [AgeingBucketId], [LocationId], [PriorityId], [PayerName], [BucketName], [LocationName], [PriorityName], [TotalBalance], [IsActive], [CreatedAt]) VALUES (8, 3, 3, 3, 3, N'Dallas commercial PTO', N'61-90 days', N'Texas Office', N'priority 3', CAST(46.00 AS Decimal(18, 2)), 1, CAST(N'2025-08-13T04:39:14.8559010' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PrioritySetup] OFF
GO
ALTER TABLE [dbo].[PrioritySetup]  WITH CHECK ADD  CONSTRAINT [FK_PrioritySetup_AgeingBuckets] FOREIGN KEY([AgeingBucketId])
REFERENCES [dbo].[AgeingBuckets] ([AgeingBucketId])
GO
ALTER TABLE [dbo].[PrioritySetup] CHECK CONSTRAINT [FK_PrioritySetup_AgeingBuckets]
GO
ALTER TABLE [dbo].[PrioritySetup]  WITH CHECK ADD  CONSTRAINT [FK_PrioritySetup_Locations] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([LocationId])
GO
ALTER TABLE [dbo].[PrioritySetup] CHECK CONSTRAINT [FK_PrioritySetup_Locations]
GO
ALTER TABLE [dbo].[PrioritySetup]  WITH CHECK ADD  CONSTRAINT [FK_PrioritySetup_Payers] FOREIGN KEY([PayerId])
REFERENCES [dbo].[Payers] ([PayerId])
GO
ALTER TABLE [dbo].[PrioritySetup] CHECK CONSTRAINT [FK_PrioritySetup_Payers]
GO
ALTER TABLE [dbo].[PrioritySetup]  WITH CHECK ADD  CONSTRAINT [FK_PrioritySetup_Priorities] FOREIGN KEY([PriorityId])
REFERENCES [dbo].[Priorities] ([PriorityId])
GO
ALTER TABLE [dbo].[PrioritySetup] CHECK CONSTRAINT [FK_PrioritySetup_Priorities]
GO
/****** Object:  StoredProcedure [dbo].[ExportPrioritySetups]    Script Date: 13-08-2025 10:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[ExportPrioritySetups]
    @IdsToExport NVARCHAR(MAX) = NULL -- comma-separated ids; if NULL -> export all
AS
BEGIN
    SET NOCOUNT ON;

    IF @IdsToExport IS NULL
    BEGIN
        SELECT * FROM PrioritySetup -- join names as in GetPrioritySetups
        -- (use same joins as GetPrioritySetups)
    END
    ELSE
    BEGIN
        -- simple approach: split csv string
        ;WITH ids AS (
            SELECT TRY_CAST(value AS INT) AS id
            FROM STRING_SPLIT(@IdsToExport, ',')
        )
        SELECT ps.* -- join names as needed
        FROM PrioritySetup ps
        INNER JOIN ids i ON ps.PrioritySetupId = i.id;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PrioritySetup_Search]    Script Date: 13-08-2025 10:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_PrioritySetup_Search]
    @SearchText NVARCHAR(4000) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ps.PrioritySetupId, p.PayerName, ab.BucketName, l.LocationName, pr.PriorityName, ps.TotalBalance, ps.IsActive, ps.CreatedAt
    FROM dbo.PrioritySetup ps
    JOIN dbo.Payers p ON ps.PayerId = p.PayerId
    JOIN dbo.AgeingBuckets ab ON ps.AgeingBucketId = ab.AgeingBucketId
    JOIN dbo.Locations l ON ps.LocationId = l.LocationId
    JOIN dbo.Priorities pr ON ps.PriorityId = pr.PriorityId
    WHERE (@SearchText IS NULL OR 
          p.PayerName LIKE '%' + @SearchText + '%' OR
          ab.BucketName LIKE '%' + @SearchText + '%' OR
          l.LocationName LIKE '%' + @SearchText + '%' OR
          pr.PriorityName LIKE '%' + @SearchText + '%'
    )
    ORDER BY ps.PrioritySetupId DESC;
END
GO
